/* Style pour la liste des instruments */
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Style pour les formulaires */
  form {
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="submit"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  select {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Style pour le formulaire d'ajout */
  .add-form input[type="text"] {
    width: calc(25% - 20px);
  }
  
  .add-form input[type="submit"] {
    width: calc(25% - 20px);
  }
  
  .add-form {
    margin-top: 30px;
  }
  
  .add-form input[type="text"],
  .add-form input[type="submit"] {
    margin-right: 0;
  }
  